@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic");
@font-face {
  font-family: Roboto;
  src: local(Arial);
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic");
}
body {
  min-width: 1px;
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  padding: 0;
}

.section-promo {
  position: relative;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.slider {
  position: absolute;
  height: 1080px;
  width: 100%;
}

.slides {
  display: none;
  z-index: 1;
  width: 100%;
}

.slides_slide1 {
  background-image: url(../media/1-Promo/slider/1.webp);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 1080px;
}

.slides_slide2 {
  background-image: url(../media/1-Promo/slider/2.webp);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 1080px;
}

.slides_slide3 {
  background-image: url(../media/1-Promo/slider/3.webp);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 1080px;
}

.slides_slide4 {
  background-image: url(../media/1-Promo/slider/4.webp);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 1080px;
}

.slides_slide5 {
  background-image: url(../media/1-Promo/slider/5.webp);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 1080px;
}

.header {
  max-width: 1800px;
  margin: 0 auto;
}

.header-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 22px 2px 0 2px;
  box-sizing: border-box;
}

.logo-position {
  padding-left: 21px;
}

.nav-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}

.nav__item {
  list-style: none;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 53px;
}

.nav__a {
  text-decoration: none;
  color: #333333;
}

.section__content {
  position: relative;
}

.title {
  margin: 0;
  padding: 0;
}

.title-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  padding-top: 242px;
  margin: 0 auto 80px auto;
}

.title__p-first-line {
  margin: 0;
  font-size: 70px;
  font-weight: 100;
}

.title__span {
  font-size: 70px;
  font-weight: 600;
}

.title__p-second-line {
  margin: 26px 0 0 0;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.container__a {
  display: block;
  margin: 0 auto;
  margin-bottom: 400px;
  width: 158px;
  background: linear-gradient(to top, #5dc5cf, #a4d2a1);
  border-radius: 26px;
  color: #444444;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
}

.container_a {
  background: #fff;
  display: block;
  padding: 9px 41px 9px 41px;
  border-radius: 26px;
}

.slide-nav {
  display: flex;
  flex-direction: row;
  float: right;
  margin-bottom: 60px;
}

.slide-nav__numbertext {
  font-family: "Roboto";
  font-size: 13px;
  color: #333333;
}

.slide-nav__numbertext_span {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: bold;
  color: #78b000;
}

.prev {
  height: 16px;
  background: #ffffff;
  border-radius: 50px 0px 0px 50px;
  padding: 3px 10px 3px 10px;
  border-right: #9f9f9f solid 1px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}

.next {
  height: 16px;
  background: #ffffff;
  border-radius: 0px 50px 50px 0px;
  padding: 3px 10px 3px 10px;
  border-left: #9f9f9f solid 1px;
  font-size: 16px;
  color: #9f9f9f;
  cursor: pointer;
  z-index: 2;
}

.section-fruits {
  clear: both;
}

.filter-fruits {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0px 287px 0 287px;
  list-style-type: none;
}

.button-fruits {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 3px 32px 3px;
  padding: 0 3px 0 3px;
  height: 41px;
  width: 180px;
  border: solid 2px;
  border-color: #d8d8d7;
  border-radius: 26px;
  background: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  color: #9f9e9c;
  text-decoration: none;
  transition: 0.2s linear;
}

.button-fruits:hover {
  background: #81ba00;
  color: #ffffff;
  border: solid 2px;
  border-color: #81ba00;
  box-shadow: 0 11px 28px #75757547;
  transform: scale(1.05);
}

.button-fruits__word {
  font-family: "Roboto";
  font-weight: bold;
  padding-left: 4px;
}

.filter-fruits__img {
  margin-top: 30px;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 68px;
  padding-bottom: 271px;
  list-style-type: none;
}

.product_position {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 270px;
  width: 270px;
  height: 440px;
  border-radius: 16px;
  border: solid 3px white;
  transition: 0.2s linear;
}

.product__background {
  background-image: url(../media/2-Section/product-bg.png);
}

.product__logo {
  display: flex;
  align-self: flex-end;
  margin: 0 auto;
  filter: drop-shadow(0px 10px 5px #a5a5a5);
  transition: 0.2s linear;
}

.option {
  display: flex;
  position: absolute;
  top: 41px;
  left: 41px;
  flex-direction: row;
  border-radius: 26px 26px 26px 26px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px 0 0;
  width: 60px;
  height: 45px;
  border-radius: 26px 0 0px 26px;
  background-color: #ffffff;
  text-decoration: none;
}

.favorites:hover .fa-heart {
  color: #81ba00;
}

.fa-heart {
  color: #dedede;
  transition: 0.2s linear;
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px 0 1px;
  width: 61px;
  height: 45px;
  background-color: #ffffff;
  text-decoration: none;
}

.basket:hover .fa-shopping-basket {
  color: #81ba00;
}

.fa-shopping-basket {
  color: #dedede;
  transition: 0.2s linear;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 1px;
  width: 61px;
  height: 45px;
  border-radius: 0px 26px 26px 0px;
  background-color: #ffffff;
  text-decoration: none;
}

.open:hover .fa-arrows-alt {
  color: #81ba00;
}

.fa-arrows-alt {
  color: #dedede;
  transition: 0.2s linear;
}

.product__background:hover {
  box-shadow: 0 0px 38px #75757552;
  transform: scale(0.99);
}

.product__background:hover .option {
  display: flex;
  visibility: visible;
  opacity: 1;
  box-shadow: 0 19px 39px #75757547;
}

.product__background:hover .product__logo {
  transform: scale(1.1);
}

.product__text-first {
  display: block;
  font-family: "Roboto";
  font-size: 20px;
  margin: 0 auto;
  padding: 25px 0 0 0;
}

.product__text-second {
  display: block;
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: 600;
  color: #7fba00;
  margin: 0 auto;
  padding: 8px 0 45px 0;
}

.container2 {
  max-width: 1170px;
  margin: 0 auto;
}

.company_position {
  background-image: url(../media/3-Text/bg.webp);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}

.company__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 93px 3px 0 3px;
}

.title-logo {
  margin: 25px 0 0 31px;
}

.title-first-line {
  margin: 0 auto;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 100;
  color: #525252;
}

.title-first-line_span {
  font-weight: 600;
}

.title-second-line {
  margin: 0;
  font-family: "Roboto";
  font-size: 12px;
  color: #525252;
  letter-spacing: 5px;
}

.company__description {
  text-align: center;
  max-width: 878px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 3px 0 3px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #525252;
}

.company__plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 0 410px 0;
  height: 377px;
}

.plus__naturix {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.plus__logo {
  margin: 0 auto;
  margin-bottom: 28px;
}

.plus__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}

.plus__text {
  max-width: 271px;
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  color: #525252;
}

.plus__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 3px 0 3px;
  height: 40px;
  width: 127px;
  border-radius: 26px;
  background: #ffffff;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  color: #525252;
  text-decoration: none;
}

.plus__organic {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.plus__quality {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.plus__natural {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.our-product_position {
  padding-top: 95px;
}

.assortment_position-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.assortment__items {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.assortment__items li {
  list-style-type: none;
}

.items__fruits {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  border: solid 1px #efefef;
  border-radius: 13px;
  padding: 0 20px 0 20px;
  text-decoration: none;
}

.items_logo {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 30px;
}

.item_line {
  margin: 0 auto;
  margin-bottom: 38px;
  height: 2px;
  width: 40px;
  background-color: #eeeeee;
}

.items_title {
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}

.items_text {
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Roboto";
  font-style: oblique;
  font-size: 13px;
  font-weight: 400;
  color: #7fb900;
}

.items__vegetables {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 15px;
  border: solid 1px #efefef;
  border-radius: 13px;
  padding: 0 20px 0 20px;
}

.items__breads {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 15px;
  border: solid 1px #efefef;
  border-radius: 13px;
  padding: 0 20px 0 20px;
}

.assortment__description {
  margin: 0 0px 0 60px;
}

.description_title {
  margin: 0;
  padding-bottom: 17px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  color: #525252;
  letter-spacing: 0.3em;
}

.description_main-title {
  margin: 0;
  padding-bottom: 45px;
  padding-right: 15px;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 300;
  color: #525252;
}

.description_text {
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #525252;
  line-height: 1.7;
}

.assortment_position-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 130px;
}

.dealday {
  padding-top: 110px;
  background-image: url(../media/5-DailyDeal/bg.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 1080px;
}

.deals__top-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.top-banner__title-main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 400px;
  margin: 0;
}

.top-banner__title-secondary {
  text-align: right;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5em;
}

.top-banner__text {
  padding-top: 10px;
  text-align: right;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 300;
}

.deals__logo {
  mix-blend-mode: multiply;
  padding: 0 30px 0 30px;
}

.deals__text {
  margin: 0;
  padding: 0;
  max-width: 400px;
  text-align: left;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.8em;
}

.deals__timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 45px 0 48px 0;
  padding: 0;
}

.timer__element {
  margin: 0 5px 0 0;
  padding: 5px;
  background: linear-gradient(to top, #5dc5cf, #a4d2a1);
  border-radius: 10px;
  color: #444444;
  text-decoration: none;
  height: 66px;
  list-style: none;
}

.element__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 0px 11px 0px 12px;
  border-radius: 6px;
  margin: 0;
}

.element__num {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 600;
  color: #525252;
}

.element__name {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
  color: #75d1d1;
}

.sale-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sale-product__bar {
  display: flex;
  flex-direction: row;
}

.bar__nav {
  display: flex;
  flex-direction: column;
}

.nav__favorites {
  margin: 0 2px 2px 0;
  padding: 34px 18px 28px 20px;
  text-decoration: none;
  border-radius: 13px 0 0 0;
  background-color: #ffffff;
}

.nav__favorites:hover .fa-heart {
  color: #81ba00;
}

.nav__basket:hover .fa-shopping-basket {
  color: #81ba00;
}

.nav__open:hover .fa-arrows-alt {
  color: #81ba00;
}

.nav__basket {
  margin: 0 2px 2px 0;
  padding: 31px 16px 31px 18px;
  text-decoration: none;
  background-color: #ffffff;
}

.nav__open {
  margin: 0 2px 0 0;
  padding: 34px 18px 34px 20px;
  text-decoration: none;
  border-radius: 0 0 0 13px;
  background-color: #ffffff;
}

.bar__description {
  display: flex;
  flex-direction: row;
}

.description__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 265px;
  height: 265px;
  padding: 44px 2px 36px 35px;
  background-color: #ffffff;
}

.text__category {
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: #a0a0a0;
}

.text__title {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 300;
  color: #525252;
}

.text__brief {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  color: #525252;
}

.text__price {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
  color: #7fba00;
}

.price__old {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
  color: #dddddd;
  text-decoration: line-through;
}

.description__img {
  position: relative;
  display: flex;
  flex-direction: column;
}

.img__mark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 31px 14px 31px;
  background-color: #ffffff;
  border-radius: 0 13px 0 0;
}

.mark__new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.2em;
  background-color: #92d2a7;
  border-radius: 20px;
  height: 24px;
  width: 70px;
  margin: 0;
}

.mark__sale {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.2em;
  background-color: #79d1d6;
  border-radius: 20px;
  height: 24px;
  width: 70px;
  margin: 0;
}

.img__logo {
  border-radius: 0 0 20px 20px;
}

.popular-product__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__description {
  margin: 15px 0 0 0;
}

.logo__text {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.fa-star {
  transform: scale(0.5);
  color: #8dd3a5;
}

.popular-product__category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 0 30px 0;
  padding: 0;
}

.category__new-arrivals {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.category__new-arrivals li {
  list-style: none;
}

.new-arrivals__title {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 30px;
}

.title__first-line {
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 500;
  color: #9f9f9f;
  letter-spacing: 0.5em;
}

.title__second-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
}

.second-line__title {
  margin: 10px 0 0 0;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 300;
  color: #525252;
}

.second-line__arrows {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.second-line__arrow-left {
  height: 22px;
  background: #ffffff;
  border-radius: 50px 0px 0px 50px;
  padding: 3px 10px 3px 10px;
  border: #efefef solid 1px;
  font-size: 10px;
  color: #9f9f9f;
  cursor: pointer;
  transition: 0.1s linear;
}

.second-line__arrow-left:hover {
  box-shadow: inset 0 0px 5px #7575752e;
}

.second-line__arrow-right {
  height: 22px;
  background: #ffffff;
  border-radius: 0px 50px 50px 0px;
  padding: 3px 10px 3px 10px;
  border: #efefef solid 1px;
  font-size: 10px;
  color: #9f9f9f;
  cursor: pointer;
  transition: 0.1s linear;
}

.second-line__arrow-right:hover {
  box-shadow: inset 0 0px 5px #7575752e;
}

.new-arrivals__element {
  display: flex;
  flex-direction: row;
  border: solid 2px #efefef;
  border-radius: 10px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 30px;
  height: 120px;
  transition: 0.3s linear;
}

.new-arrivals__element:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 28px #7575752e;
}

.new-arrivals__element:hover .new-arrivals__img {
  transform: scale(1);
  filter: drop-shadow(0px 10px 5px #a5a5a5);
}

.new-arrivals__img {
  transform: scale(0.7);
  transition: 0.3s linear;
}

.new-arrivals__brief {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 35px 25px 15px;
}

.brief__title {
  margin: 0;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}

.brief__line {
  margin: 0;
  padding: 0;
  height: 2px;
  width: 25px;
  background-color: #eeeeee;
}

.brief__price {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
  color: #7fbb00;
}

.banners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-bottom: 127px;
}

.banners__one {
  position: relative;
  list-style: none;
}

.banners_img {
  display: block;
}

.banner__button {
  position: absolute;
  top: 241px;
  left: 76px;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  padding: 8px 37px;
  border: solid 4px #ffffff;
  border-radius: 50px;
  background-color: #b8c800;
  transition: 0.1s linear;
}

.banner__button_color {
  position: absolute;
  top: 241px;
  left: 76px;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  padding: 8px 37px;
  border: solid 4px #ffffff;
  border-radius: 50px;
  background-color: #ffbd0e;
  transition: 0.1s linear;
}

.banner__button:hover {
  transform: scale(1.2);
}

.banner__button_color:hover {
  transform: scale(1.2);
}

.reviews {
  background-image: url(../media/8/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.reviews__subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 128px;
  margin-bottom: 71px;
}

.reviews__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.title__first {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  color: #525252;
  letter-spacing: 0.3em;
}

.title__second {
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 300;
  color: #525252;
}

.form__email {
  padding: 19px 345px 19px 42px;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #cccccc;
  border-radius: 50px;
  border: none;
}

.form__subscribe {
  padding: 17px 47px 17px 47px;
  background-color: #7cc000;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 50px;
  border: none;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding-top: 95px;
  padding-bottom: 25px;
}

.comment li {
  list-style: none;
}

.comment__first {
  display: flex;
  flex-direction: row;
}

.comment__photo {
  padding: 25px;
}

.comment__block {
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}

.comment__text {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  color: #aaaaaa;
  max-width: 300px;
}

.comment__author {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 600;
  color: #333333;
  padding-top: 50px;
}

.footer {
  background-image: url(../media/Footer/bg.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  height: 630px;
}

/*# sourceMappingURL=styles.css.map */
