@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic')

@font-face
font-family:Roboto
src:local(Arial)
src:url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic')

body
    min-width: 1px
    margin: 0
    padding: 0

// Page 1

.page
    margin: 0
    padding: 0

.section-promo
    position: relative
    margin: 0
    padding: 0

.container
    max-width: 1800px
    margin: 0 auto

.slider
    position: absolute
    height: 1080px
    width: 100%

.slides
    display: none
    z-index: 1
    width: 100%

.slides_slide1
    background-image: url(../media/1-Promo/slider/1.png)
    background-size: cover
    background-position-x: center
    background-position-y: bottom
    height: 1080px

.slides_slide2
    background-image: url(../media/1-Promo/slider/2.jpg)
    background-size: cover
    background-position-x: center
    background-position-y: bottom
    height: 1080px

.slides_slide3
    background-image: url(../media/1-Promo/slider/3.png)
    background-size: cover
    background-position-x: center
    background-position-y: bottom
    height: 1080px

.slides_slide4
    background-image: url(../media/1-Promo/slider/4.png)
    background-size: cover
    background-position-x: center
    background-position-y: bottom
    height: 1080px

.slides_slide5
    background-image: url(../media/1-Promo/slider/5.png)
    background-size: cover
    background-position-x: center
    background-position-y: bottom
    height: 1080px

.header
    max-width: 1800px
    margin: 0 auto

.header-position
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    padding: 22px 2px 0 2px
    box-sizing: border-box

.logo-position
    padding-left: 21px

.nav-position
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.nav__list
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    padding: 0

.nav__item
    list-style: none
    font-family: 'Roboto'
    font-size: 15px
    font-weight: bold
    text-transform: uppercase
    padding-left: 53px

.nav__a
    text-decoration: none
    color: #333333

.section__content
    position: relative

.title
    margin: 0
    padding: 0

.title-position
    display: flex
    flex-direction: column
    align-items: center
    font-family: "Roboto"
    padding-top: 242px
    margin: 0 auto 80px auto

.title__p-first-line
    margin: 0
    font-size: 70px
    font-weight: 100

.title__span
    font-size: 70px
    font-weight: 600

.title__p-second-line
    margin: 26px 0 0 0
    font-size: 15px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.2em

.container__a
    display: block
    margin: 0 auto
    margin-bottom: 400px
    width: 158px
    background: linear-gradient(to top, #5dc5cf,#a4d2a1)
    border-radius: 26px
    color: #444444
    font-family: "Roboto"
    font-weight: bold
    font-size: 16px
    padding: 5px
    text-decoration: none

.container_a
    background: #fff
    display: block
    padding: 9px 41px 9px 41px
    border-radius: 26px

.slide-nav
    display: flex
    flex-direction: row
    float: right
    margin-bottom: 60px

.slide-nav__numbertext
    font-family: 'Roboto'
    font-size: 13px
    color: #333333

.slide-nav__numbertext_span
    font-family: 'Roboto'
    font-size: 25px
    font-weight: bold
    color: #78b000

.prev
    height: 16px
    background: #ffffff
    border-radius: 50px 0px 0px 50px
    padding: 3px 10px 3px 10px
    border-right: #9f9f9f solid 1px
    font-size: 16px
    color: #ffffff
    cursor: pointer
    z-index: 2

.next
    height: 16px
    background: #ffffff
    border-radius: 00px 50px 50px 0px
    padding: 3px 10px 3px 10px
    border-left: #9f9f9f solid 1px
    font-size: 16px
    color: #9f9f9f
    cursor: pointer
    z-index: 2

// PAGE 2

.section-fruits
    clear: both

.filter-fruits
    display: flex
    flex-direction: row
    align-items: flex-end
    justify-content: space-around
    padding: 0px 287px 0 287px

.button-fruits
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    margin: 0 3px 32px 3px
    padding: 0 3px 0 3px
    height: 41px
    width: 180px
    border: solid 2px
    border-color: #d8d8d7
    border-radius: 26px
    background: #ffffff
    font-family: 'Roboto'
    font-size: 16px
    color: #9f9e9c
    text-decoration: none
    transition: 0.2s linear

.button-fruits:hover
    background: #81ba00
    color: #ffffff
    border: solid 2px
    border-color: #81ba00
    box-shadow: 0 11px 28px #75757547
    transform: scale(1.05)

.button-fruits__word
    font-family: 'Roboto'
    font-weight: bold
    padding-left: 4px

.filter-fruits__img
    margin-top: 30px

.product_position
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-top: 68px
    padding-bottom: 271px

.tomato
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: flex-end

.tomato_position
    max-width: 270px
    width: 270px
    height: 440px
    border-radius: 16px
    border: solid 3px white
    background-image: url(../media/2-Section/tommato-pr.png)
    transition: 0.2s linear
  

// Tool bar

.option
    display: flex
    position: absolute
    top: 41px
    left: 41px
    flex-direction: row
    border-radius: 26px 26px 26px 26px
    visibility: hidden
    opacity: 0
    transition: 0.2s linear

.favorites
    display: flex
    justify-content: center
    align-items: center
    margin: 0 1px 0 0
    width: 60px
    height: 45px
    border-radius: 26px 0 0px 26px
    background-color: #ffffff
    text-decoration: none

.fa-heart
    color: #dedede

.basket
    display: flex
    justify-content: center
    align-items: center
    margin: 0 1px 0 1px
    width: 61px
    height: 45px
    background-color: #ffffff
    text-decoration: none

.fa-shopping-basket
    color: #dedede

.open
    display: flex
    justify-content: center
    align-items: center
    margin: 0 0 0 1px
    width: 61px
    height: 45px
    border-radius: 0px 26px 26px 0px
    background-color: #ffffff
    text-decoration: none

.fa-arrows-alt
    color: #dedede

.tomato:hover  
    box-shadow: 0 0px 38px #75757552
    transform: scale(0.99)
   

.tomato:hover .option
    display: flex
    visibility: visible
    opacity: 1
    box-shadow: 0 19px 39px #75757547

// Cabage-product

.cabage
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: flex-end

.cabage_position
    max-width: 270px
    width: 270px
    height: 443px
    border-radius: 16px
    border: solid 3px white
    transition: 0.2s linear
    background-image: url(../media/2-Section/cabbage-pr.png)

.cabage:hover  
    box-shadow: 0 0px 38px #75757552
    transform: scale(0.99)

.cabage:hover .option
    display: flex
    visibility: visible
    opacity: 1
    box-shadow: 0 19px 39px #75757547

// Cherry-product

.cherry
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: flex-end

.cherry_position
    max-width: 270px
    width: 270px
    height: 443px
    border-radius: 16px
    transition: 0.2s linear
    background-image: url(../media/2-Section/cherry-pr.png)

.cherry:hover  
    box-shadow: 0 0px 38px #75757552
    transform: scale(0.99)

.cherry:hover .option
    display: flex
    visibility: visible
    opacity: 1
    box-shadow: 0 19px 39px #75757547

// Asparagus-product

.asparagus
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: flex-end

.asparagus_position
    max-width: 270px
    width: 270px
    height: 443px
    border-radius: 16px
    border: solid 3px white
    transition: 0.2s linear
    background-image: url(../media/2-Section/asparagus-pr.png)

.asparagus:hover  
    box-shadow: 0 0px 38px #75757552
    transform: scale(0.99)


.asparagus:hover .option
    display: flex
    visibility: visible
    opacity: 1
    box-shadow: 0 19px 39px #75757547

// Pineapple-producr

.pineapple
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: flex-end

.pineapple_position
    max-width: 270px
    width: 270px
    height: 443px
    border-radius: 16px
    border: solid 3px white
    transition: 0.2s linear
    background-image: url(../media/2-Section/pineapple-pr.png)

.pineapple:hover  
    box-shadow: 0 0px 38px #75757552
    transform: scale(0.99)

.pineapple:hover .option
    display: flex
    visibility: visible
    opacity: 1
    box-shadow: 0 19px 39px #75757547

// Onion-product

.onion
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: flex-end

.onion_position
    max-width: 270px
    width: 270px
    height: 443px
    border-radius: 16px
    border: solid 3px white
    transition: 0.2s linear
    background-image: url(../media/2-Section/onion-pr.png)

.onion:hover  
    box-shadow: 0 0px 38px #75757552
    transform: scale(0.99)

.onion:hover .option
    display: flex
    visibility: visible
    opacity: 1
    box-shadow: 0 19px 39px #75757547

.product__text-first
    display: block
    font-family: 'Roboto'
    font-size: 20px
    margin: 0 auto
    margin-top: auto
    padding: 25px 0 0 0

.product__text-second
    display: block
    font-family: 'Helvetica'
    font-size: 14px
    font-weight: 600
    color: #7fba00
    margin: 0 auto
    padding: 8px 0 45px 0


// Page 3

.container2
    max-width: 1170px
    margin: 0 auto

.company_position
    background-image: url(../media/3-Text/bg.webp)
    background-size: cover
    background-position-x: center
    background-position-y: bottom
  
       
.company__title
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0
    padding: 93px 3px 0 3px

.title-logo
    margin: 25px 0 0 31px

.title-first-line
    margin: 0 auto
    margin-bottom: 16px
    font-family: 'Roboto'
    font-size: 40px
    font-weight: 100
    color: #525252

.title-first-line_span
    font-weight: 600

.title-second-line
    margin: 0
    font-family: 'Roboto'
    font-size: 12px 
    color: #525252
    letter-spacing: 5px
          
.company__description
    text-align: center
    max-width: 878px
    margin: 0 auto
    margin-top: 50px
    padding: 0 3px 0 3px
    font-family: 'Roboto'
    font-size: 16px
    font-weight: 400
    line-height: 1.5
    color: #525252 

.company__plus
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 80px 0 410px 0
    height: 377px
    

.plus__naturix
    display: flex
    flex-direction: column
    align-self: flex-end
    

.plus__logo
    margin: 0 auto
    margin-bottom: 28px

.plus__title
    margin: 0
    margin-bottom: 28px
    text-align: center
    font-family: 'Roboto'
    font-size: 18px
    font-weight: 400
    color: #525252

.plus__text
    max-width: 271px
    margin: 0
    margin-bottom: 28px
    text-align: center
    font-family: 'Roboto'
    font-size: 14px
    color: #525252

.plus__button
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    margin: 0 auto
    padding: 0 3px 0 3px
    height: 40px
    width: 127px
    border-radius: 26px
    background: #ffffff
    font-family: 'Roboto'
    font-size: 12px
    font-weight: 500
    color: #525252
    text-decoration: none
    
.plus__organic
    display: flex
    flex-direction: column
    align-self: flex-start
    

.plus__quality
    display: flex
    flex-direction: column
    align-self: flex-start
    
.plus__natural
    display: flex
    flex-direction: column
    align-self: flex-end
           
// Page 4

.assortment_position-one
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-top: 95px

.assortment__items
    display: flex
    flex-direction: row
    margin-right: 30px

.items__fruits
    display: flex
    flex-direction: column
    margin-right: 15px
    border: solid 1px #efefef
    border-radius: 13px
    padding: 0 20px 0 20px

.items_logo
    margin: 0 auto
    margin-bottom: 40px
    padding-top: 30px  

.item_line
    margin: 0 auto
    margin-bottom: 38px
    height: 2px
    width: 40px
    background-color: #eeeeee
           
.items_title
    margin: 0 auto
    margin-bottom: 10px
    font-family: 'Roboto'
    font-size: 18px
    font-weight: 400
    color: #525252

.items_text
    margin: 0 auto
    padding-bottom: 40px
    font-family: 'Roboto'
    font-style: oblique
    font-size: 13px
    font-weight: 400
    color: #7fb900


.items__vegetables
    display: flex
    flex-direction: column
    margin: 0 15px 0 15px
    border: solid 1px #efefef
    border-radius: 13px
    padding: 0 20px 0 20px    


.items__breads
    display: flex
    flex-direction: column
    margin: 0 0 0 15px
    border: solid 1px #efefef
    border-radius: 13px
    padding: 0 20px 0 20px

.assortment__description
    margin: 0 0px 0 60px

.description_title
    margin: 0
    padding-bottom: 17px
    font-family: 'Roboto'    
    font-size: 13px
    font-weight: 500
    color: #525252
    letter-spacing: 0.3em

.description_main-title
    margin: 0
    padding-bottom: 45px
    padding-right: 15px
    font-family: 'Roboto'    
    font-size: 35px
    font-weight: 300
    color: #525252

.description_text
    margin: 0
    font-family: 'Roboto'    
    font-size: 16px
    font-weight: 400
    color: #525252   
    line-height: 1.7      


.assortment_position-two
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    padding-top: 95px    